# Archivos del sistema
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Archivos de compilación
target/
build/
*.class

# Archivos temporales
*.log
*.tmp
*.swp

# Archivos sensibles
.idea/workspace.xml
.gitignore
config.properties